[Unit]
Description=Download JSON from Nintendo and Upload SalmonStats automatically. 

[Service]
ExecStart=/usr/bin/python /opt/Salmonia/Salmonia.py
WorkingDirectory=/opt/Salmonia
Restart=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target
